<div class='row'>
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <h1>Create List</h1>
  </div>
</div>
<form class='row' name='form'>
  <div class="col-xs-10 col-xs-offset-1 list-group">
    <input type="text" name='list' class="form-control" ng-model='listName' placeholder="List Name" aria-label="list" required/>
    <button class="list-group-item btn btn-default" ng-click="isToggled($event)" aria-pressed=false type="button" data-toggle="button" autocomplete="off" ng-repeat='recipe in recipes' recipe-id='{{ recipe.id }}'>
      <h4 class="list-group-item-heading">{{ recipe.title }}</h4>
      <p class="list-group-item-text">{{ recipe.description }}</p>
    </button>
  </div>
</form>

<nav class="navbar navbar-inverse navbar-fixed-bottom animate">
  <div class="container">
    <ul class="nav navbar-nav navbar-right mobile-bar">
      <nav-bar name='Back' icon="list" href='#!/account/{{ currentUser }}'></nav-bar>
      <nav-bar name='Create List' icon="shopping-basket" ng-class="{disabled: listName == null || areToggled.length == 0}" ng-click="createList()"></nav-bar>
    </ul>
  </div>
</nav>
