<div class='row'>
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <h1>Ingredients</h1>
  </div>
</div>
<div class='row'>
  <div class="col-xs-10 col-xs-offset-1 list-group">
    <a ng-repeat='item in items track by $index' class="list-group-item">
      <span class="badge pull-right">{{ item.quantity }}</span>
      <h4 class="list-group-item-heading">{{ item.name }}</h4>
      <p class="list-group-item-text">{{ item.category }}</p>
    </a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Ingredient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form modal-body" name='form'>
        <div class="form-group">
          <input type="number" name='quantity' class="form-control" ng-model='quantity' placeholder="Quantity" aria-label="quantity" required/>
        </div>
        <div class="form-group">
          <input type="text" name='item' class="form-control" ng-model='inputItem' placeholder="Item Name" aria-label="item" required/>
        </div>
        <div class="form-group">
          <select class="form-control" id="sel1" ng-model="selectedCategory">
            <option ng-repeat="(key, category) in categories">{{ category }}</option>
          </select>
        </div>
      <div class="modal-footer form-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
        <button type="submit" class="btn btn-primary" ng-disabled='selectedCategory == undefined || form.$invalid' ng-click='addItem()'>Add Another</button>
      </div>
    </form>
    </div>
  </div>
</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom animate">
  <div class="container">
    <ul class="nav navbar-nav navbar-right mobile-bar">
      <nav-bar name='Back' icon="mail-reply" href='/#!/account/{{currentUser}}/recipes/' ></nav-bar>
      <!-- <nav-bar name='Edit' icon="edit"></nav-bar> -->
      <nav-bar name='Add Ingredient' icon="envira" href='#!/account/{{ currentUser }}/recipes/{{ currentRecipe }}' type="button" data-toggle="modal" data-target="#exampleModal"></nav-bar>
    </ul>
  </div>
</nav>
