<div class='row'>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Recipe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form modal-body" name='form'>
          <div class="form-group">
            <input type="text" name='title' class="form-control" ng-model='title' placeholder="Title" aria-label="title" required/>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model='description' placeholder="Description" aria-label="Description"/>
          </div>
        <div class="modal-footer form-group">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" ng-click="addRecipe()" data-dismiss="modal" ng-disabled='form.title.$invalid'>Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-xs-10 col-xs-offset-1 list-group">
    <a href="#!/account/{{ currentUser }}/recipes/{{ recipe.id }}" class="list-group-item" ng-repeat='recipe in recipes'>
      <h4 class="list-group-item-heading">{{ recipe.title }}</h4>
      <p class="list-group-item-text">{{ recipe.description }}</p>
    </a>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom animate">
  <div class="container navbar-more visible-xs"></div>
  <div class="container">
    <div class="navbar-header hidden-xs">
    </div>

    <ul class="nav navbar-nav navbar-right mobile-bar">
      <nav-bar name='Back' icon="mail-reply" href='#!/account/{{ currentUser }}'></nav-bar>
      <nav-bar name='Add Recipe' icon="shopping-basket" href='#!/account/{{ currentUser }}/recipes' type="button" data-toggle="modal" data-target="#exampleModal"></nav-bar>
    </ul>
  </div>
</nav>
