<div class='row'>
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <h1>Grocery List</h1>
  </div>
</div>
<div class="panel-group col-md-6 col-md-offset-3" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" ng-repeat='(key, category) in categories'>
    <div class="panel-heading" data-toggle="collapse" data-target='#collapse{{ key }}' role="tab" id="headingOne">
      <h4 class="panel-title">
        <div role="button" data-parent="#accordion" aria-expanded="true" aria-controls="collapse{{ key }}">
          {{ category }}
          <span class="badge pull-right">{{ itemCount }}</span>
        </div>
      </h4>
    </div>
    <div id="collapse{{ key }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="list-group">
        <div class="list-group-item" ng-click="strikeMe($event)" ng-show="'{{ category }}' === '{{ item.category }}'" ng-repeat="item in items">
          <h6 class="list-group-item-heading" name="{{ item.name }}">{{ item.name }}<span class="badge pull-right">{{ item.quantity }}</span></h6>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom animate">
  <div class="container">
    <ul class="nav navbar-nav navbar-right mobile-bar">
      <nav-bar name='Back' icon="mail-reply" href='/#!/account/{{currentUser}}' ></nav-bar>
    </ul>
  </div>
</nav>
